<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="fr.irisa.r2d2.gecos.framework.modules">
      <module
            class="fr.istic.m1.fstorm.modules.FindAllPragmas"
            name="FindAllPragmas">
      </module>
      <module
            class="fr.istic.m1.fstorm.modules.ReadComponents"
            name="ReadComponents">
      </module>
      <module
            class="fr.istic.m1.fstorm.modules.GenerateJavaClass"
            iterative="false"
            name="GenerateJavaClass">
      </module>
      <module
            class="fr.istic.m1.fstorm.modules.ReadCommandLineOptions"
            iterative="false"
            name="ReadCommandLineOptions">
      </module>
   </extension>
   <extension
         id="fstorm"
         point="org.eclipse.core.runtime.applications">
         <application
		        cardinality="singleton-global"
		        thread="main"
		        visible="true">
		     <run
		           class="fr.istic.m1.fstorm.Main">
		     </run>
		  </application>
   </extension>
   <extension
         id="fstorm"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.istic.m1.fstorm.fstorm"
            name="fstorm">
         <property
               name="appName"
               value="fstorm">
         </property>
      </product>
   </extension>

</plugin>
